{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">R</span><span class="base09">i</span><span class="base0a">c</span><span class="base0b">e</span><span class="base0c">B</span><span class="base0d">o</span><span class="base0f">w</span><span class="base10">l</span><span class="base11">J</span><span class="base12">r</span><span class="base05">]</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  A cloud enthousiast, passionate about AWS and Kubernetes technologies.
</div>
